@page "/signal-sources/create"
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject IApiService ApiService

<PageTitle>Create Signal Source</PageTitle>

<h1>Create New Signal Source</h1>


<EditForm Model="@signalSource" OnValidSubmit="@HandleValidSubmit" FormName="create-signal-source" novalidate>
    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="id" Label="Id"  @bind-Value="signalSource.Id" Required/>
        </div>
        <div>
            <FluentTextField Name="name" Label="Name"  @bind-Value="signalSource.Name" Required/>
        </div>
        <div>
            <FluentTextArea Name="description" Label="Description (optional)" @bind-Value="signalSource.Description" Rows=5 Cols=60 />
        </div>

        <div>
            <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
            <FluentButton Appearance="Appearance.Accent" @onclick="@(() => Cancel())">Cancel</FluentButton>
        </div>
    </FluentStack>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private SignalSourceModel signalSource { get; set; } = new();

    private void Cancel()
    {
        Navigation.NavigateTo("/signal-sources");
    }

    private async void HandleValidSubmit()
    {
        Console.WriteLine($"HandleValidSubmit called {signalSource}");

        await ApiService.CreateSignalSourceAsync(signalSource.Id, signalSource.Name, signalSource.Description, CancellationToken.None);
    }    

    public sealed record SignalSourceModel
    {
        public string Id { get; set; } = string.Empty;

        public string Name { get; set; } = string.Empty;

        public string Description { get; set; } = string.Empty;
    }
}