@page "/error"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

@using System.Diagnostics
@using Microsoft.AspNetCore.Diagnostics

@inject ILogger<Error> Logger

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(RequestId))
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string RequestId { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier ?? string.Empty;

        var error = HttpContext?.Features.Get<IExceptionHandlerFeature>();

        if (error is not null)
        {
            Logger.LogError(error.Error, "An error occurred while processing your request.");
        }
    }
}
