@page "/"

<PageTitle>Home</PageTitle>

<h1>@Assembly.GetName().Name</h1>

<h2>Assembly Version: v.@Assembly.GetName().Version</h2>

@code {
    private static readonly Assembly Assembly = Assembly.GetExecutingAssembly();
}