@using Microsoft.AspNetCore.Authorization
@using RichillCapital.UseCases.Common
@using System.Security.Claims

@page "/"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@attribute [Authorize]

@inject ICurrentUser CurrentUser

@if (CurrentUser.IsAuthenticated)
{
    <FluentCard>
        <h3>Claims</h3>
    </FluentCard>

    <FluentCard>
        <h3>Properties</h3>
    </FluentCard>
}

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}