@page "/tradingBots"
@attribute [StreamRendering]


<PageTitle>Trading Bots</PageTitle>

<h1>Trading Bots</h1>

<FluentButton Appearance="Appearance.Accent">Create</FluentButton>

<FluentDataGrid id="trading-bots-grid" Items="@tradingBots" TGridItem="TradingBotModel">
    <PropertyColumn Title="Id" Property="@(bot => bot!.Id)" Align="Align.Start"/>
    <PropertyColumn Title="Name" Property="@(bot => bot!.Name)" Align="Align.Start"/>
    <PropertyColumn Title="Platform" Property="@(bot => bot!.Platform)" Align="Align.Start"/>
</FluentDataGrid>

@code {
    IQueryable<TradingBotModel>? tradingBots;

    protected override async Task OnInitializedAsync()
    {
        tradingBots = Enumerable.Range(1, 5).Select(index => new TradingBotModel
        {
            Id = index.ToString(),
            Name = "Bot " + index,
            Platform = "XQ",
        }).AsQueryable();
    }
}