@page "/web-trader"
@rendermode InteractiveServer

<EditForm Model="@order" OnValidSubmit="@HandleValidSubmit" FormName="place-order" novalidate>
    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="symbol" Label="Symbol"  @bind-Value="order.Symbol" Required/>
        </div>
        
        <div>
             <FluentNumberField Name="quantity" @bind-Value="order.Quantity" Label="Quantity" />
        </div>
        
        <div>
             <FluentNumberField Name="price" @bind-Value="order.Price" Label="Price" />
        </div>

        <div>
            <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
        </div>
        
    </FluentStack>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private OrderModel order { get; set; } = new();

    private async void HandleValidSubmit()
    {
        Console.WriteLine($"Order placed: {order}");
    }

    protected override async Task OnInitializedAsync()
    {
    }

    public sealed record OrderModel
    {
        public string ConnectionName { get; set; } = string.Empty;
        public string AccountId { get; set; } = string.Empty;
        public string TradeType { get; set; } = string.Empty;
        public string OrderType { get; set; } = string.Empty;
        public string Symbol { get; set; } = string.Empty; 
        public decimal Quantity { get; set; } 
        public decimal Price { get; set; }
    }
}